@using Vista.Biz.DEMO
@using MudBlazor.Utilities
@inject IDialogServiceEx dlgSvc
@inject ISnackbar snackSvc

<style type="text/css">
  .drop-view {
    height: calc(100vh - 180px);
    overflow-y: scroll;
  }

  .item-box {
    padding: 4px 8px 4px 8px;
    margin-bottom: 1px;
  }

  .item-selected {
    background-color: lightyellow;
    /* outline: 2px dashed #007bff; */
  }

  .text-indent {
    margin-left: 2em;
  }

  .price-cell {
    text-align: right;
  }

  .remove-item-dropping .mud-chip {
    background-color: var(--mud-palette-error);
  }
</style>

<MudDropContainer T=DropItem @ref=refDropContainer
                  Items=ItemList
                  ItemPicked=ItemPickedHandler
                  ItemDropped=ItemDroppedHandler>
  <ChildContent>
    <MudToolBar Dense Gutters>
      <MudText Typo=Typo.h6>報價項目</MudText>
      <MudButton OnClick=HandleAddItem Disabled=@(2 == ItemAim?.Level)>加入主項</MudButton>
      <MudButton OnClick=HandleAddSubItem Disabled=@(ItemAim is null)>加入次項</MudButton>
      <MudSpacer />
      <MudDropZone T="DropItem" Identifier="remove-zone" Class="rounded"
                   CanDrop=CanDropRemoveHandler
                   CanDropClass="remove-item-dropping">
        <MudChip T="string" Icon="@Icons.Material.Filled.DeleteForever">移除區</MudChip>
      </MudDropZone>
    </MudToolBar>
    <MudDropZone T="DropItem" Identifier="order-zone" ItemsSelector=OrderItemsSelectorHandler AllowReorder
                 Class="drop-view rounded mud-background-gray pa-2">
      <div></div>
    </MudDropZone>
  </ChildContent>
  <ItemRenderer Context="item">
    <MudPaper Elevation=@(item == ItemAim ? 9 : 1)
              Class=@Utils.Clsx("d-flex item-box",("item-selected", item == ItemAim),("text-indent", item.Level == 2))>
      <div>
        @if (item.Level == 2)
        {
          <code style="padding-right:.5em; font-size:1.25em;">@item.L1Num-@item.L2Num</code>
        }
        else
        {
          <code style="padding-right:.5em; font-size:1.5em;">@item.L1Num</code>
        }
      </div>
      <div class="flex-grow-1 align-self-center">
        <span style="white-space:break-spaces;">@item.Description</span>
        @* for debug *@<span style="color:lightcoral;">[@(item.Order)@(item.IsGroup ? "g" : "")]</span>
      </div>
      <div class="d-flex align-self-center">
        <div class="price-cell" style="width:5em;">@($"{item.UnitPrice:N0}")</div>
        <div class="price-cell" style="width:3em;">@($"{item.Quantity:N1}")</div>
        <div class="price-cell" style="width:7em;">@($"{item.ExtendedPrice:N0}")</div>
      </div>
    </MudPaper>
  </ItemRenderer>
</MudDropContainer>

@code {
  [Parameter, EditorRequired] public required List<DropItem> ItemList { get; set; }
  [Parameter] public EventCallback<List<DropItem>> ItemListChanged { get; set; }
  [Parameter, EditorRequired] public DropItem? ItemAim { get; set; }
  [Parameter] public EventCallback<DropItem?> ItemAimChanged { get; set; }

  //## Resource
  MudDropContainer<DropItem> refDropContainer = default!;

  //## Property

  bool ItemsSelectorHandler(DropItem item, string dropzone) => true;
  bool OrderItemsSelectorHandler(DropItem item) => true;

  async Task ItemDroppedHandler(MudItemDropInfo<DropItem> dropItem)
  {
    if (dropItem.DropzoneIdentifier == "remove-zone")
    {
      //# 移除項目
      ItemList.Remove(dropItem.Item!);
      DoSyncUpdateL1NumL2Num();
      DoSyncUpdateItemGroup();
      await ItemListChanged.InvokeAsync(ItemList);
      //StateHasChanged();
    }
    else
    {
      //# 移動項目
      ItemList.UpdateOrder(dropItem, item => item.Order, 0); // 更新 order 排序
      DoSyncUpdateL1NumL2Num();
      DoSyncUpdateItemGroup();
      await ItemListChanged.InvokeAsync(ItemList);
      //StateHasChanged();
    }
  }

  //# 若還有次項不可移除。
  bool CanDropRemoveHandler(DropItem item)
  {
    bool hasChildItem = item.IsGroup; // ItemList.Any(c => c.L1Num == item.L1Num && c.L2Num != 0);
    if (hasChildItem) snackSvc.Add("尚有次項目不可移除。", Severity.Warning);
    return !hasChildItem;
  }

  void ItemPickedHandler(MudDragAndDropItemTransaction<DropItem> pickItem)
  {
    ItemAimChanged.InvokeAsync(pickItem.Item);
  }

  /// <summary>
  /// 依據 Order, Level 同步更新相依欄位: L1Num, L2Num。
  /// </summary>
  void DoSyncUpdateL1NumL2Num()
  {
    int l1num = 1;
    int l2num = 0;
    foreach (var item in ItemList.OrderBy(c => c.Order))
    {
      if (item.Level == 2)
      {
        item.L1Num = l1num - 1;
        item.L2Num = ++l2num;
      }
      else // Level == 1
      {
        item.L1Num = l1num++;
        item.L2Num = l2num = 0;
      }
    }
  }

  /// <summary>
  /// 依據 L1Num, L2Num 檢查有否子層 IsGroup 並重新計算加總。
  /// </summary>
  void DoSyncUpdateItemGroup()
  {
    foreach (var item in ItemList.Where(c => c.Level == 1))
    {
      item.IsGroup = ItemList.Any(x => x.Level == 2 && item.L1Num == x.L1Num);
    }
  }

  /// <summary>
  /// 加入主項
  /// </summary>
  async Task HandleAddItem()
  {
    int insertOrder = ItemAim?.Order ?? 0;
    int insertLiNum = ItemAim?.L1Num ?? 1;

    // 向後移位，以便新增項目。
    foreach (var item in ItemList.Where(c => c.Order >= insertOrder).OrderByDescending(c => c.Order))
    {
      item.Order++;
      item.L1Num++;
    }

    // 新增項目到列表指定第１個位置或選取項目前面。
    ItemList.Insert(insertOrder, new DropItem()
      {
        Order = insertOrder,
        Level = 1,
        IsGroup = false,
        L1Num = insertLiNum,
        L2Num = 0,
        UnitPrice = 7000m,
        Quantity = 1.0m,
        Description = "新加入主要項目內容"
      });

    // refersh UI
    // DoSyncUpdateL1NumL2Num();
    // DoSyncUpdateItemGroup(); // 此時不會改變 group
    await ItemListChanged.InvokeAsync(ItemList);
    refDropContainer.Refresh();
  }

  /// <summary>
  /// 加入次項。依據選取項目加入次項。
  /// </summary>
  /// <returns></returns>
  async Task HandleAddSubItem()
  {
    if (ItemAim is null) return;

    int insertOrder = ItemAim.Order + 1;

    // Order 向後移位１位，以便新增項目。
    foreach (var item in ItemList.Where(c => c.Order >= insertOrder).OrderByDescending(c => c.Order))
    {
      item.Order++;
    }

    // 新增『次項目』到選取項目的下一位。
    ItemList.Insert(insertOrder, new DropItem()
      {
        Order = insertOrder,
        Level = 2,
        IsGroup = false,
        L1Num = ItemAim.L1Num,
        L2Num = ItemAim.L2Num + 1,
        UnitPrice = 7000m,
        Quantity = 1.0m,
        Description = "新加入次要項目內容"
      });

    // refersh UI
    DoSyncUpdateL1NumL2Num();
    DoSyncUpdateItemGroup();
    await ItemListChanged.InvokeAsync(ItemList);
    refDropContainer.Refresh();
  }
}
