@using Vista.Biz.DEMO
@using MudBlazor.Utilities
@inject ISnackbar snackSvc

<style type="text/css">
  .drop-view {
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }

  .item-box {
    padding: 4px 8px 4px 8px;
    margin-bottom: 1px;
  }

  .item-selected {
    background-color: lightyellow;
    /* outline: 2px dashed #007bff; */
  }

  .text-indent {
    margin-left: 2em;
  }

  .price-cell {
    text-align: right;
  }
</style>

<MudDropContainer T=DropItem Items=ItemList
                  ItemsSelector=ItemsSelectorHandler
                  ItemPicked=ItemPickedHandler
                  ItemDropped=ItemDroppedHandler>
  <ChildContent>
    <MudDropZone T="DropItem" AllowReorder
                 Class="drop-view rounded mud-background-gray pa-2">
      <MudToolBar Dense Gutters>
        <MudText Typo=Typo.h6>報價項目</MudText>
      </MudToolBar>
    </MudDropZone>
  </ChildContent>
  <ItemRenderer Context="item">
    <MudPaper Elevation=@(item == ItemAim ? 9 : 1)
              Class=@Utils.Clsx("d-flex item-box",("item-selected", item == ItemAim),("text-indent", item.Level == 2))>
      <div>
        @if (item.Level == 2)
        {
          <code style="padding-right:.5em; font-size:1.25em;">@item.L1Num-@item.L2Num</code>
        }
        else
        {
          <code style="padding-right:.5em; font-size:1.5em;">@item.L1Num</code>
        }
      </div>
      <div class="flex-grow-1 align-self-center">
        <span style="white-space:break-spaces;">@item.Description</span>
        @* for debug *@<span style="color:lightcoral;">[@(item.Order)@(item.IsGroup ? "g" : "")]</span>
      </div>
      <div class="d-flex align-self-center">
        <div class="price-cell" style="width:5em;">@($"{item.UnitPrice:N0}")</div>
        <div class="price-cell" style="width:3em;">@($"{item.Quantity:N1}")</div>
        <div class="price-cell" style="width:7em;">@($"{item.ExtendedPrice:N0}")</div>
      </div>
    </MudPaper>
  </ItemRenderer>
</MudDropContainer>

@code {
  [Parameter, EditorRequired] public required List<DropItem> ItemList { get; set; }
  [Parameter] public EventCallback<List<DropItem>> ItemListChanged { get; set; }
  [Parameter, EditorRequired] public DropItem? ItemAim { get; set; }
  [Parameter] public EventCallback<DropItem?> ItemAimChanged { get; set; }

  //## Property

  bool ItemsSelectorHandler(DropItem item, string dropzone) => true;

  void ItemDroppedHandler(MudItemDropInfo<DropItem> dropItem)
  {
    ItemList.UpdateOrder(dropItem, item => item.Order, 0); // 更新 order 排序
    DoSyncUpdateL1NumL2Num();
    DoSyncUpdateItemGroup();
    ItemListChanged.InvokeAsync(ItemList);
    StateHasChanged();
  }

  void ItemPickedHandler(MudDragAndDropItemTransaction<DropItem> pickItem)
  {
    ItemAimChanged.InvokeAsync(pickItem.Item);
  }

  /// <summary>
  /// 同步更新相依欄位: L1Num, L2Num。
  /// </summary>
  void DoSyncUpdateL1NumL2Num()
  {
    int l1num = 1;
    int l2num = 0;
    foreach (var item in ItemList.OrderBy(c => c.Order))
    {
      if (item.Level == 2)
      {
        item.L1Num = l1num - 1;
        item.L2Num = ++l2num;
      }
      else // Level == 1
      {
        item.L1Num = l1num++;
        item.L2Num = l2num = 0;
      }
    }
  }

  /// <summary>
  /// 檢查有否子層並重新計算加總。
  /// </summary>
  void DoSyncUpdateItemGroup()
  {
    foreach (var item in ItemList.Where(c => c.Level == 1))
    {
      item.IsGroup = ItemList.Any(x => x.Level == 2 && item.L1Num == x.L1Num);
    }
  }
}
